@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
}

ul,
li {
  list-style: none;
}

input {
  font: inherit;
}

img {
  vertical-align: top;
}

button {
  border: 0;
  background: none;
}

button:enabled {
  cursor: pointer;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* css-style */
body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";

  /* viewport 중앙 정렬 */
  width: 100%;
  height: 100vh;
}

#appLogin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-login {
  margin: 0 auto;
  width: 520px;
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  background: #fff;
}

.header {
  border-bottom: 1px solid #c4c4c4;
  text-align: center;
  position: relative;
}

.log-join-title {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 20px auto;
}

.close {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 24px;
  top: 22px;
}

.wrapper {
  padding: 0 24px 25px 24px;
}

.main p {
  padding: 26px 0 24px 0;
  font-size: 20px;
  font-weight: 500;
}

#input-id,
#input-pw {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background: #fff;
  padding: 15px 15px;
  font-size: 16px;
  color: #767676;
  font-weight: 400;
}

#input-id {
  border: 2px solid #f4492e;
}

.input-text p {
  color: red;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 0 10px 4px;
}

/* custom-input-box -ing */
.keep-check {
  padding: 16px 0 20px 4px;
  display: flex;
  gap: 8px;
}

.keep-check label {
  font-size: 16px;
  font-weight: 500;
  color: #767676;
}

.keep-check input[type="checkbox"] {
  display: none;
}

.keep-check input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-image: url("../images/check-box-no.png");
  height: 22px;
}

.keep-check [type="checkbox"]:checked + label {
  background-image: url("../images/check-box.png");
  height: 22px;
}

/* 로그인 버튼 */
.main-login {
  width: 100%;
  background-color: #2f80ed;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 14px;

  margin-bottom: 20px;
}

.login-another-page {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 400;
  color: #767676;

  margin-bottom: 30px;

  gap: 12px;
}

.division {
  display: flex;
  gap: 13px;
  align-items: center;

  font-size: 14px;
  font-weight: 400;
  color: #767676;

  padding-bottom: 20px;
}

.division .hr {
  width: 210px;
  height: 1px;
  background-color: #c4c4c4;
}

.sns-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-sns-login {
  display: block;
  text-align: center;
  padding: 15px 15px;
  border: 1px solid #767676;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #767676;
}

[class^="icon"]::before {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../images/icon-sprites-retina.png");
  background-size: 117px 84px;
}

.icon-facebook {
  border: 1px solid #2d9cdb;
}

.icon-naver {
  border: 1px solid #00bf18;
}

.icon-kakao {
  border: 1px solid #f2c94c;
}

.icon-google::before {
  width: 22px;
  height: 22px;
  background-position: -52px -10px;
}

.icon-facebook::before {
  width: 24px;
  height: 24px;
  background-position: -94px -10px;
}

.icon-naver::before {
  width: 22px;
  height: 22px;
  background-position: -10px -10px;
}

.icon-kakao::before {
  width: 22px;
  height: 22px;
  background-position: -10px -52px;
}
