/* reset */
h1,
h2,
ul,
p {
  /* margin의 초기값을 알아서 초기화 */
  margin: initial;
  padding: initial;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

/* css */
body {
  background-image: url(images/background.gif);
}

.wrapper {
  /* 공간 차지하는 영역 보기 위해서 */
  background-color: #ddd;
  width: 800px;
  /* 정하지 말고 그냥 두자 알아서 커진다, 알아서 조절된다 그게 행복이다~~ */
  height: auto;
  margin: 100px auto;
}

/* div태그 이면서 class이름이 header인 태그 */
.header {
  background-image: url(./images/cover02.png);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: white;
}

.header img {
  display: block;
  margin: 0 auto;
}

/* h1은 block 요소다 */
.header h1 {
  /* background-color: orange; */
  /* h1이 가운데로 온게 아니다. text가 width내에서 가운데로 온 것 */
  text-align: center;
  font-size: 100px;
  /* 가운데 정렬  */
  /* width: fit-content;
  margin: 0 auto; */
}

.header p {
  border-top: 4px solid white;
  /* background-color: firebrick; */
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
}

.section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  background-image: url(images/icon-information.png);
  background-repeat: no-repeat;
  background-position: right 30px center;
}

.skill {
  background-image: url(images/icon-skills.png);
}

.section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: salmon;
}

.list li {
  border-left: 5px solid #ddd;
  padding-left: 5px;
}

.footer {
  background-color: #f4f4f4;
  padding: 10px 0;
  text-align: center;
}
