body {
  height: 200vh;
}
.container {
  display: flex;
  gap: 20px;
  height: 500px;
}
[class^="wrap"] {
  position: relative;
  width: 300px;
  border: 1px solid #666;
  overflow: scroll;
}
[class^="wrap"] div {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
}
.a {
  background: rgba(141, 75, 246, 0.9);
}
.b {
  background: salmon;
}
.c {
  background: royalblue;
  margin: auto 0 auto auto;
}

.wrap-relative .a {
  position: relative;
  top: 50px;
  left: 50px;
}

.wrap-absolute .a {
  position: absolute;
  top: 50px;
  left: 50px;
}

/* .wrap-fixed{
  transform: translateX(0);
}  */

.wrap-fixed .a {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.wrap-sticky p {
  width: 400px;
}
.wrap-sticky .a {
  position: sticky;
  top: 0;
  left: 50px;
}

.wrap-sticky .c {
  position: sticky;
  bottom: 0;
  right: 50px;
}
