#title {
    text-decoration: underline;
}

.my {
    color: darkorange;
}

/* 형제 인접 선택자 */
.my+p {
    color: aqua;
}

/* 이렇게 하면 h2와 형제인 p태그 모두 선택됨 */
/* h2+p {
    color: aqua;
} */

/* .sect2 strong {
    background-color: yellow;
} */

.sect2>strong {
    background-color: yellow;
}

/* 자식들만 모두 선택 */
.sect2>* {
    border: 2px solid red;
}

/* sect2 밑에 모두 선택 */
/* .sect2 > * {
    border: 2px solid red;
} */

.my+p,
.sect3+p {
    background-color: beige;
}